<div class="input-group mt-3">
  <input
    id="typeahead-focus"
    type="text"
    class="form-control"
    placeholder="Search Symbols"
    [(ngModel)]="selectedSymbol"
    [ngbTypeahead]="search"
    (focus)="focus$.next($any($event).target.value)"
    #instance="ngbTypeahead"
  />
  <div class="input-group-append">
    <button type="button" class="btn btn-primary" (click)="getChartData()">Search</button>
  </div>
</div>
