<p style="text-align: center" class="mt-5" *ngIf="klineData.length === 0">
  Enter symbol and click search to render chart. Ex: XRPUSDT</p>
<div>
  <div #chart style="height: 600px;width: 100%" class="mt-5"></div>
  <p style="text-align: center" class="mt-5">
  Note: The time frame is of 1 Day.</p>
</div>


